@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<div>
    <input type="hidden" id="customDomainValue" value="@Configuration["Demos:CustomDomain"]">

    @if (User.Identity?.IsAuthenticated == true)
    {
        <style>
            .unauth {
                display: none;
            }
        </style>

        @if (User.Claims.Any(c => c.Type == "acrs" && c.Value == "c1"))
        {
            <style>
                .auth-without-mfa {
                    display: none;
                }
            </style>
        }
        else
        {
            <style>
                .auth-with-mfa {
                    display: none;
                }
            </style>
        }
    }
    else
    {
        <style>
            .auth,
            .auth-without-mfa,
            .auth-with-mfa {
                display: none;
            }
        </style>
    }



    Select a use-case or a feature, read the instructions and start the demo:
    <div class="dropdown" style="margin-top: 15px">
        <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
            onclick="clearFilterUseCases()" aria-expanded="false"
            style="width: 100%; text-align: left; border-color: gray;">
            Select a use case
        </a>

        <ul class="dropdown-menu" id="demosDropdown" aria-labelledby="dropdownMenuLink">

        </ul>
    </div>

    <div id="useCases">

    </div>
</div>
</div>