<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2"
          resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WoodgroveDemo.dll" stdoutLogEnabled="false"
        stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Enforce woodgrove correct domain name" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" negate="true" pattern="^([a-z]+[.])*woodgrovedemo\.com$" />
          </conditions>
          <action type="Redirect" url="http://woodgrovedemo.com/{R:1}" redirectType="Temporary" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
