<p>
<h4>Prerequisites</h4>
Before you start make sure you have configured the following:
<ol>
    <li><a href="CreateTenant">Create a tenant</a> and <a href="AddAdmins">add admin accounts</a></li>
    <li><a href="RegisterApp">Register a web application</a></li>
    <li><a href="CreateUserFlow">Create a user flow</a></li>
</ol>
</p>