<div style="padding-top: 10px;padding-bottom: 5px;">
    <a href="#" id="movePrevious"
        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        onclick="stepper.previous(); return false;"><i class="bi bi-arrow-left-circle"></i> Previous</a>
    <span style="margin-left: 20px;" id="stepNumber">1</span>
    <a style="margin-left: 20px;" href="#" id="moveNext"
        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
        onclick="stepper.next(); return false;"><i class="bi bi-arrow-right-circle"></i> Next</a>
</div>