@page
@model woodgrovedemo.Help.Pages.ArkoseFraudProtectionModel
@{
    ViewData["Title"] = "Arkose fraud protection";
    Layout = "_Layout";
}



<h1 style="margin-top: 25px; margin-bottom: 25px;">Arkose fraud protection</h1>


<p>
    Arkose Labs' <a href="https://www.arkoselabs.com/solutions/new-account-fraud/"
        target="_blank" class="link-dark link-offset-2">New Account Fraud Solution</a>  is designed to combat the creation of fraudulent accounts to ensure the
    security of your application while maintaining a seamless onboarding experience for legitimate users.
</p>

@await Html.PartialAsync("_HelpSelector.cshtml", 1)
<div class="tab-content wg-tab-content">
    <div class="tab-pane active" id="microsoftEntraAdminCenter" role="tabpanel"
        aria-labelledby="microsoftEntraAdminCenter-tab" tabindex="0">
        @await Html.PartialAsync("_StepsButtons.cshtml")

        <div class="bs-stepper vertical" id="Stepper">
            @await Html.PartialAsync("_Steps.cshtml", 1)

            <div class="bs-stepper-content">
                <div id="step-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger1">
                    @await Html.PartialAsync("_Prerequisites.cshtml")

                    This is in preview and configuration can be done using <a href="#graph"
                        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        Microsoft Graph</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane" id="microsoftGraph" role="tabpanel" aria-labelledby="microsoftGraph-tab" tabindex="0">
        <h4 class="graph-header">Setup Arkose Fraud protection in your tenant</h4>
        <p>
            To setup Arkose Fraud protection in your tenant, run the following Graph. Replace:
        </p>
        <ul>
            <li><b>{public-key}</b> with the public Key from your Arkose account, should be in a GUID format.</li>
            <li><b>{private-key}</b> with the rrivate key from your Arkose account.</li>
            <li><b>{client-sub-domain}</b> with the client sub-domain for your Arkose account. Use only the subdomain prefix
                (e.g., "client-api"), not the full domain.</li>
            <li><b>{verify-sub-domain}</b> with the verify sub-domain for your Arkose account. Use only the subdomain prefix
                (e.g., "verify-api"), not the full domain.</li>
        </ul>

        <code
            style="color: black;"><span class="method">POST</span> https://graph.microsoft.com/v1.0/policies/tokenLifetimePolicies</code>

        <pre>
{ 
  "@@odata.type": "#microsoft.graph.arkoseFraudProtectionProvider", 
  "displayName": "Arkose config", 
  "publicKey": "<span class="highlight">{public-key}</span>",  
  "privateKey": "<span class="highlight">{private-key}</span>", 
  "clientSubDomain": "<span class="highlight">{client-sub-domain}</span>", 
  "verifySubDomain": "<span class="highlight">{verify-sub-domain}</span><verify-subdomain>" 
} 
        </pre>

        <!-- Example-->
        <a class="btn btn-success btn-sm" data-bs-toggle="collapse" href="#collapseRegisterAppExample" role="button"
            aria-expanded="false" aria-controls="collapseRegisterAppExample">
            Show example
        </a><br>
        <div class="collapse example" id="collapseRegisterAppExample">
            <br>
            <div class="function-http">
                <span
                    class="method">POST</span><code> https://graph.microsoft.com/beta/identity/authenticationEventsFlows/12345678-0000-0000-0000-000000000000/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAuthenticationMethodLoadStart/microsoft.graph.onAuthenticationMethodLoadStartExternalUsersSelfServiceSignUp/identityProviders/$ref</code>
            </div>

            <a type="button" class="link-opacity-75 copyToClipboard" href="#"><i class="bi bi-copy"></i></a>
            <pre class="example replace">
{
    "@@odata.type": "#microsoft.graph.arkoseFraudProtectionProvider",
    "displayName": "Arkose config",
    "publicKey": "12345678-1234-1234-1234-000000000000",
    "privateKey": "abcdefghijklmnop", 
    "clientSubDomain": "client-api",
    "verifySubDomain": "verify-api"
}

</pre>

        </div>
        <br>&nbsp;<br>
        From the response, copy the value of the <b>id</b>, for example:

        <pre>
{
    "@@odata.type": "#microsoft.graph.arkoseFraudProtectionProvider",
    "<span class="highlight">id</span>": "11111111-1234-1234-1234-000000000000",
    "displayName": "Arkose config",
    "publicKey": "12345678-1234-1234-1234-000000000000",
    "clientSubDomain": "client-api",
    "verifySubDomain": "verify-api"
    ...
}
        </pre>

        <h4 class="graph-header">Assign token lifetime policy to your application</h4>
        <p>
            Finally, create an AuthenticationEventListener policy to use the Arkose fraud protection config in signup
            flow for an application. Replace:
        </p>

        <ul>
            <li><b>{app-id}</b> with your application ID.</li>
            <li><b>{fraud-protection-id}</b> with the ID your copied in the previous step</li>
        </ul>

        <code
            style="color: black;"><span class="method">POST</span> https://graph.microsoft.com/beta/identity/authenticationEventListeners</code>

        <pre>
{ 

  "@@odata.type": "#microsoft.graph.onFraudProtectionLoadStartListener", 
  "conditions": { 
    "applications": { 
      "includeApplications": [ 
        { 
          "appId": "<span class="highlight">{app-id}</span>" 
        } 
      ] 
    } 
  }, 
  "handler": { 
    "@@odata.type": "#microsoft.graph.onFraudProtectionLoadStartExternalUsersAuthHandler", 
    "signUp": { 
      "@@odata.type": "#microsoft.graph.fraudProtectionProviderConfiguration", 
      "isContinueOnProviderErrorEnabled": true, 
      "fraudProtectionProvider": { 
        "@@odata.type": "#microsoft.graph.arkoseFraudProtectionProvider", 
        "id": "<span class="highlight">{fraud-protection-id}</span>" 
      } 
    } 
  } 
} 
        </pre>

    </div>
