@page
@model woodgrovedemo.Help.Pages.CreateUserFlowModel
@{
    ViewData["Title"] = "Create a user flow";
    Layout = "_Layout";
}

<h1 style="margin-top: 25px; margin-bottom: 25px;">Create a sign-up and sign-in user flow</h1>

<div>

    @await Html.PartialAsync("_StepsButtons.cshtml")

    <div class="bs-stepper vertical">
        @await Html.PartialAsync("_Steps.cshtml", 9)

        <div class="bs-stepper-content">
            <div id="step-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger1">
                <p>
                    To start, sign in to the <a href="https://entra.microsoft.com/" target="_blank"
                        class="link-dark link-offset-2">Microsoft Entra admin center</a>
                    and browse to <b>Identity</b> > <b>External Identities</b>.
                </p>
                <img class="img-fluid border" src="~/Help/Shared/home-select-external-identities.png">
            </div>
            <div id="step-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger2">
                <p>
                    From the menu, select <b>User flows</b>. Then, select <b>New user flow</b>.
                </p>
                <img class="img-fluid border" src="~/Help/CreateUserFlow/userflows-create.png">

            </div>
            <div id="step-3" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger3">
                <p>
                    On the <b>Create</b> page, enter a <b>Name</b> for the user flow (for example, "SignUpSignIn").
                    Then, under <b>Identity providers</b>, select the <b>Email Accounts</b> check box, and then select
                    one of these options.
                    If you configured other identity providers, you can select them.
                </p>
                <img class="img-fluid border" src="~/Help/CreateUserFlow/userflows-create-name-and-idp.png">
            </div>

            <div id="step-4" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger4">
                <p>
                    Under <b>User attributes</b>, choose the attributes you want to collect from the user during
                    sign-up.
                    Select <b>Show more</b> to choose from the full list of attributes, including Job Title, Display
                    Name, and Postal Code and more.
                    Then, select <b>Create</b> to create the user flow.
                </p>
                <img class="img-fluid border" src="~/Help/CreateUserFlow/userflows-create-select-attributes.png">
            </div>

            <div id="step-5" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger5">
                <p>
                    From the list, select the user flow you created.
                </p>
                <img class="img-fluid border" src="~/Help/CreateUserFlow/userflows-create-select-from-list.png">
            </div>

            <div id="step-6" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger6">
                <p>
                    The following steps activate the sign-up and sign-in experience (the user flow) for users who visit
                    your
                    application.
                    In the left menu, under <b>Use</b>, select <b>Applications</b>.

                </p>
                <img class="img-fluid border" src="~/Help/CreateUserFlow/userflows-select-apps.png">
            </div>

            <div id="step-7" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger7">
                <p>

                </p>
                <img class="img-fluid border" src="~/Help/CreateUserFlow/userflows-add-apps-1.png">
            </div>

            <div id="step-8" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger8">
                <p>
                    Select the application from the list. Or use the search box to find the application, and then select
                    it. Choose <b>Select</b>.

                </p>
                <img class="img-fluid border" src="~/Help/CreateUserFlow/userflows-add-apps-2.png" width="90%">
            </div>
            <div id="step-9" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger9">
                <p>
                    <i class="bi bi-emoji-smile"></i> Congratulations! your user flow successfully created and the application is linked to the user flow. When users sign-in to the Woodgrove
                    application they will come across the sign-in and sign-up experience configured in the user flow.

                </p>
                <img class="img-fluid border" src="~/Help/CreateUserFlow/userflows-select-apps-done.png">
            </div>
        </div>
    </div>
</div>
