@page
@model woodgrovedemo.Help.Pages.CustomAttributesModel

@{
    ViewData["Title"] = "User attributes";
    Layout = "_Layout";
}

<h1 style="margin-top: 25px; margin-bottom: 25px;">Collect user attributes during sign-up</h1>

<p>
    <a href="https://learn.microsoft.com/entra/external-id/customers/how-to-define-custom-attributes" target="_blank"
        class="link-dark link-offset-2">User attributes</a> are values collected from the user
    during self-service sign-up.
    In the user flow settings, you can select from a set of built-in user attributes you want to collect from
    customers. You can also create custom user attributes and add them to your sign-up user flow.

    On the sign-up page the user enters the information, and it's stored with their profile in your directory. This
    demo shows the use of built-in attribute and custom attribute called <b>special diet</b>.
</p>

@await Html.PartialAsync("_HelpSelector.cshtml", 0)
<div class="tab-content wg-tab-content">
    <div class="tab-pane active" id="microsoftEntraAdminCenter" role="tabpanel"
        aria-labelledby="microsoftEntraAdminCenter-tab" tabindex="0">

        @await Html.PartialAsync("_StepsButtons.cshtml")

        <div class="bs-stepper vertical" id="Stepper">
            @await Html.PartialAsync("_Steps.cshtml", 6)

            <div class="bs-stepper-content">
                <div id="step-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger1">
                    @await Html.PartialAsync("_Prerequisites.cshtml")

                    <p>
                        We started by creating the <b>special diet</b> custom user attribute. To do so,
                        sign in to the <a href="https://entra.microsoft.com/" target="_blank"
                            class="link-dark link-offset-2">Microsoft Entra admin center</a>
                        and browse to <b>External Identities </b> > <b> Overview</b>. Then, select <b>Custom user
                            attributes</b>.
                    </p>

                    <a href="#" class="pop" onclick="return false;">
                        <img class="img-fluid border" src="~/Help/CustomAttributes/Select-custom-user-attribute.png">
                    </a>
                </div>

                <div id="step-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger2">
                    <p>
                        The list contains all user attributes available in the tenant,
                        including any custom user attributes that have been created. The <b>Attribute type</b> column
                        indicates
                        whether an attribute is built-in or custom.

                        Select <b>Add</b> to add a new attribute.
                    </p>

                    <a href="#" class="pop" onclick="return false;">
                        <img class="img-fluid border" src="~/Help/CustomAttributes/Add-custom-user-attribute-1.png">
                    </a>
                </div>
                <div id="step-3" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger3">
                    <p>
                        In the <b>Add an attribute</b> pane, enter a <b>Name</b> for the custom attribute for example,
                        <i>SpecialDiet</i>.
                        In <b>Data Type</b>, choose <b>String</b>. In the <b>Description</b>, enter a description of the
                        custom attribute for internal use. This description isn't visible to the user.
                    </p>

                    <a href="#" class="pop" onclick="return false;">
                        <img class="img-fluid border" src="~/Help/CustomAttributes/Add-custom-user-attribute-2.png">
                    </a>
                </div>

                <div id="step-4" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger4">
                    <p>
                        After you added the custom user attribute to your tenant, proceed to include the custom user
                        attribute in a sign-up flow.
                        Browse to <b>Identity</b> > <b>External Identities</b> > <b>User flows</b>. Then, select a user
                        flow
                        from the list.
                    </p>

                    <a href="#" class="pop" onclick="return false;">
                        <img class="img-fluid border" src="~/Help/CustomAttributes/Select-user-flow.png">
                    </a>
                </div>

                <div id="step-5" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger5">
                    <p>
                        Select <b>User attributes</b>. The list includes any custom user attributes you defined as
                        described
                        in the
                        previous section. For example, the new <b>SpecialDiet</b> now appears in the list. Choose all
                        the attributes you want to collect from the user during sign-up, and select <b>Save</b>.
                    </p>

                    <a href="#" class="pop" onclick="return false;">
                        <img class="img-fluid border"
                            src="~/Help/CustomAttributes/Add-custom-user-attribute-to-user-flow.png">
                    </a>
                </div>

                <div id="step-6" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger6">
                    <p>
                        In the last step you configure the sign-up page layout. In the page layout you can indicate
                        which attributes are required and arrange the display
                        order. You can also edit attribute labels, create radio buttons or checkboxes, and more.
                        For this demo, we add a label to the attribute named <b>SpecialDiet</b>.

                        Under <b>Customize</b>, select <b>Page layouts</b>. The attributes you chose to collect appear.
                        Edit the label for any attribute by selecting the value in the <b>Label</b> column and modifying
                        the
                        text.
                    </p>

                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Well done!</h4>
                        <p>You added a custom user attribute to your tenant. Then added the custom user attribute to a
                            user
                            flow and added a label to the attribute. To check the user experience, sign-up to your
                            application.
                        </p>
                    </div>

                    <a href="#" class="pop" onclick="return false;">
                        <img class="img-fluid border" src="~/Help/CustomAttributes/Add-label.png">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane" id="microsoftGraph" role="tabpanel" aria-labelledby="microsoftGraph-tab" tabindex="0">

        <h4 class="graph-header graph-header-space">Dependencies</h4>
        <ul>
            <li>User flow</li>
        </ul>

        <h4 class="graph-header graph-header-space">1. Create custom attribute</h4>
        <p>
            To a
            <a href="https://learn.microsoft.com/en-us/graph/api/identityuserflowattribute-post?view=graph-rest-beta&tabs=http"
                target="_blank" class="link-dark link-offset-2">create custom attribute</a>, run the following
            Microsoft Graph.
        </p>

        <code
            style="color: black;"><span class="method">POST</span> https://graph.microsoft.com/beta/identity/userFlowAttributes</code>

        <pre>
{
    "displayName": "SpecialDiet",
    "description": "Customer's special diet",
    "dataType": "string"
}
        </pre>

        <h5 class="graph-header graph-header-space">1.1 Copy the custom attribute</h5>
        From the response, copy the value of the custom attribute <b>id</b>. For example:
        <pre>
{
    "@@odata.context": "https://graph.microsoft.com/beta/$metadata#identity/userFlowAttributes/$entity",
    "<span class="highlight">id</span>": "extension_12345678900000000000000012345678_SpecialDiet",
    "displayName": "SpecialDiet",
    "description": "Customer's special diet",
    "userFlowAttributeType": "custom",
    "dataType": "string"
}  
        </pre>

        <h4 class="graph-header graph-header-space">2. Add attribute to a user flow</h4>
        <p>
            To <a
                href="https://learn.microsoft.com/en-us/graph/api/onattributecollectionexternalusersselfservicesignup-post-attributes?view=graph-rest-beta&tabs=http"
                target="_blank" class="link-dark link-offset-2">add an attribute to a user flow</a>, run the
            Microsoft Graph below.

            Replace the <b>{user-flow-ID}</b> with your <a
                href="https://learn.microsoft.com/en-us/graph/api/identitycontainer-list-authenticationeventsflows?view=graph-rest-beta&tabs=http"
                target="_blank" class="link-dark link-offset-2">user flow ID</a>.

            Replace the <b>{attribute-ID}</b> with your <a
                href="https://learn.microsoft.com/en-us/graph/api/identityuserflowattribute-list?view=graph-rest-beta&tabs=http"
                target="_blank" class="link-dark link-offset-2">attribute ID</a> from the previous step.
        </p>

        <code
            style="color: black;"><span class="method">POST</span> https://graph.microsoft.com/beta/identity/authenticationEventsFlows/<span class="highlight">{user-flow-ID}</span>/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAttributeCollection/microsoft.graph.onAttributeCollectionExternalUsersSelfServiceSignUp/attributes/$ref</code>

        <pre>
{
    "@@odata.id":"https://graph.microsoft.com/beta/identity/userFlowAttributes/<span class="highlight">{attribute-ID}</span>"
}
        </pre>

        <a class="btn btn-success btn-sm" data-bs-toggle="collapse" href="#collapseExample1" role="button"
            aria-expanded="false" aria-controls="collapseExample1">
            Show example
        </a>
        <div class="collapse example" id="collapseExample1">
            <code
                style="color: black;"><span class="method">POST</span> https://graph.microsoft.com/beta/identity/authenticationEventsFlows/12345678-1234-1234-1234-123456789012/microsoft.graph.externalUsersSelfServiceSignUpEventsFlow/onAttributeCollection/microsoft.graph.onAttributeCollectionExternalUsersSelfServiceSignUp/attributes/$ref</code>

            <pre class="example">
{
    "@@odata.id":"https://graph.microsoft.com/beta/identity/userFlowAttributes/extension_98765432200c4c148da909f1d84b7b65_SpecialDiet"
}
            </pre>
        </div>


        <h4 class="graph-header graph-header-space">3. [Optional] Update the page layout</h4>
        <p>
            Usually the attribute appears at the bottom on the sign-up page. You can <a
                href="https://learn.microsoft.com/en-us/graph/api/authenticationeventsflow-update?view=graph-rest-beta&tabs=http"
                target="_blank" class="link-dark link-offset-2">update the sign-up page layout</a>.
            In the page layout you can indicate which attributes are
            required and arrange the display order. You can also edit attribute labels, create radio buttons or
            checkboxes,
            and more.
        </p>
        <p>
            To do so, you need to update the user flow. In the request body, supply only the values for properties that
            should be updated. Existing properties that
            aren't included in the request body maintains their previous values or be recalculated based on changes to
            other
            property values.

        <div class="alert alert-danger" role="alert">
            <i class="bi bi-exclamation-triangle-fill"></i> The <b>inputs</b> collection must contain all of the
            attributes.
            To add or remove attributes, make sure to include all other attributes.
        </div>
        </p>
        <p>
            Replace the <b>{user-flow-ID}</b> with your <a
                href="https://learn.microsoft.com/en-us/graph/api/identitycontainer-list-authenticationeventsflows?view=graph-rest-beta&tabs=http"
                target="_blank" class="link-dark link-offset-2">user flow ID</a>.

            Replace the <b>{attribute-ID}</b> with your <a
                href="https://learn.microsoft.com/en-us/graph/api/identityuserflowattribute-list?view=graph-rest-beta&tabs=http"
                target="_blank" class="link-dark link-offset-2">attribute ID</a>.
        </p>
        <code
            style="color: black;"><span class="method">PATCH</span> https://graph.microsoft.com/beta/identity/authenticationEventsFlows/<span class="highlight">{user-flow-ID}</span></code>

        <pre>
{
    "@@odata.type": "#microsoft.graph.externalUsersSelfServiceSignUpEventsFlow",
    "onAttributeCollection": {
        "@@odata.type": "#microsoft.graph.onAttributeCollectionExternalUsersSelfServiceSignUp",
        "attributeCollectionPage": {
            "customStringsFileId": null,
            "views": [
                {
                    "title": null,
                    "description": null,
                    "inputs": [
                        {
                            "attribute": "email",
                            "label": "Email Address",
                            "inputType": "text",
                            "defaultValue": null,
                            "hidden": true,
                            "editable": false,
                            "writeToDirectory": true,
                            "required": true,
                            "validationRegEx": "^[a-zA-Z0-9.!#$%&amp;amp;&amp;#8217;'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*$",
                            "options": []
                        },
                        {
                            "attribute": "displayName",
                            "label": "Display Name",
                            "inputType": "text",
                            "defaultValue": null,
                            "hidden": false,
                            "editable": true,
                            "writeToDirectory": true,
                            "required": true,
                            "validationRegEx": "^.*",
                            "options": []
                        },
                        {
                            "attribute": "country",
                            "label": "Country/Region",
                            "inputType": "radioSingleSelect",
                            "defaultValue": null,
                            "hidden": false,
                            "editable": true,
                            "writeToDirectory": true,
                            "required": false,
                            "validationRegEx": "^.*",
                            "options": [
                                {
                                    "label": "Australia",
                                    "value": "au"
                                },
                                {
                                    "label": "Spain",
                                    "value": "es"
                                },
                                {
                                    "label": "United States",
                                    "value": "us"
                                }
                            ]
                        },
                        {
                            "attribute": "city",
                            "label": "City",
                            "inputType": "text",
                            "defaultValue": null,
                            "hidden": false,
                            "editable": true,
                            "writeToDirectory": true,
                            "required": true,
                            "validationRegEx": "^.*",
                            "options": []
                        },                        {
                            "attribute": "<span class="highlight">{attribute-ID}</span>",
                            "label": "Special diet",
                            "inputType": "text",
                            "defaultValue": null,
                            "hidden": false,
                            "editable": true,
                            "writeToDirectory": true,
                            "required": false,
                            "validationRegEx": "^.*",
                            "options": []
                        }
                    ]
                }
            ]
        }
    }
}
        </pre>
    </div>

    <div class="tab-pane" id="entraGraphPowerShell" role="tabpanel" aria-labelledby="entraGraphPowerShell-tab"
        tabindex="0">
        Loading...
    </div>
</div>
