@page
@model woodgrovedemo.Help.Pages.DisableAccountModel
@{
    ViewData["Title"] = "Disable an account";
    Layout = "_Layout";
}

<h1 style="margin-top: 25px; margin-bottom: 25px;">Disable an account</h1>

Comming soon