@page
@model woodgrovedemo.Help.Pages.EmailAndPasswordModel

@{
    ViewData["Title"] = "Email with password sign-in";
    Layout = "_Layout";
}

<h1 style="margin-top: 25px; margin-bottom: 25px;">Enable email with password sign-in</h1>


<p>
    Email with password sign-in allows new users to sign up and sign in using an email address as the sign-in name
    and a password as their
    first-factor authentication method. Note, you can also enable
    <a href="https://learn.microsoft.com/entra/external-id/customers/how-to-user-flow-sign-up-sign-in-customers"
        target="_blank" class="link-dark link-offset-2">Email one-time passcode</a>.
    This demo shows how to enable email with password sign-in.
</p>

@await Html.PartialAsync("_HelpSelector.cshtml", 1)
<div class="tab-content wg-tab-content">
    <div class="tab-pane active" id="microsoftEntraAdminCenter" role="tabpanel"
        aria-labelledby="microsoftEntraAdminCenter-tab" tabindex="0">

        @await Html.PartialAsync("_StepsButtons.cshtml")

        <div class="bs-stepper vertical" id="Stepper">
            @await Html.PartialAsync("_Steps.cshtml", 2)

            <div class="bs-stepper-content">
                <div id="step-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger1">
                    @await Html.PartialAsync("_Prerequisites.cshtml")

                    <p>
                        To enable email with password sign-in, login to the <a href="https://entra.microsoft.com/"
                            target="_blank" class="link-dark link-offset-2">Microsoft Entra admin center</a>
                        and browse to <b>External Identities </b> > <b> User flows</b>. Then, select the user flow where
                        you
                        want to
                        configure email with password sign-in.
                    </p>

                    <a href="#" class="pop" onclick="return false;">
                        <img class="img-fluid border" src="~/Help/EmailAndPassword/Select-user-flow.png">
                    </a>
                </div>

                <div id="step-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger2">
                    <p>
                        Under <b>Settings</b>, select <b>Identity providers</b>. Then, under <b>Email Accounts</b>,
                        select
                        <b>Email
                            with password</b> and save the changes.

                    </p>

                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Well done!</h4>
                        <p>You successfully enabled email with password sign-in for your user flow. To check the user
                            experience,
                            sign-in to your application.
                    </div>

                    <a href="#" class="pop" onclick="return false;">
                        <img class="img-fluid border" src="~/Help/EmailAndPassword/Email-with-password.png">
                    </a>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane" id="microsoftGraph" role="tabpanel" aria-labelledby="microsoftGraph-tab" tabindex="0">
        Graph API tutorial coming soon.
    </div>

    <div class="tab-pane" id="entraGraphPowerShell" role="tabpanel" aria-labelledby="entraGraphPowerShell-tab"
        tabindex="0">
        Loading...
    </div>
</div>
