@page
@model woodgrovedemo.Help.Pages.MFAModel

@{
    ViewData["Title"] = "Multifactor authentication";
    Layout = "_Layout";
}


<h1 style="margin-top: 25px; margin-bottom: 25px;">Multifactor authentication (MFA)</h1>

<div>


    <p>
        <a href="https://learn.microsoft.com/entra/external-id/customers/how-to-multifactor-authentication-customers"
            target="_blank" class="link-dark link-offset-2">Multifactor authentication (MFA)</a> protects customers
        identity by prompting them for a second verification method. Microsoft Entra Conditional Access brings signals
        together, to make decisions,
        and enforce security policies.

        In this demo shows a Conditional Access policy that prompts for MFA. The Conditional access policy targets all
        users without any condition.
    </p>
    @await Html.PartialAsync("_StepsButtons.cshtml")

    <div class="bs-stepper vertical" id="Stepper">
        @await Html.PartialAsync("_Steps.cshtml", 7)

        <div class="bs-stepper-content">
            <div id="step-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger1">
                @await Html.PartialAsync("_Prerequisites.cshtml")

                <p>
                    Start by creating a Conditional Access policy to secure the application.
                    Sign in to the <a href="https://entra.microsoft.com/" target="_blank"
                        class="link-dark link-offset-2">Microsoft Entra admin center</a>
                    and browse to <b>Protection</b> > <b>Conditional Access</b>. Then, select <b>New policy</b>.
                </p>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/MFA/Create-conditinal-access-policy.png">
                </a>
            </div>

            <div id="step-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger2">
                <p>
                    Give your policy a <b>Name</b>, for example <i>sign-in risk</i>.
                </p>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/MFA/Create-conditional-access-policy-1.png">
                </a>
            </div>

            <div id="step-3" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger3">
                <p>
                    Under <b>Assignments</b>, select the link under <b>Users</b>. Then, on the <b>Include</b> tab,
                    select <b>All users</b>.
                    On the <b>Exclude</b> tab, you can select users and groups for your organization's emergency access
                    or break-glass accounts.
                </p>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/MFA/Create-conditional-access-policy-2.png">
                </a>
            </div>

            <div id="step-4" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger4">
                <p>
                    Under <b>assignments</b>, select <b>Target resources</b>. Then,
                    On the <b>Include</b> tab, choose the <b>Select apps</b> option and click on the <b>Select</b>
                    button.
                    Find your app, select it, and then choose <b>Select</b>.
                </p>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/MFA/Create-conditional-access-policy-3.png">
                </a>
            </div>

            <div id="step-5" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger5">
                <p>
                    Skipt the <b>Conditions</b> section and move to the next step.
                </p>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/MFA/Create-conditional-access-policy-4.png">
                </a>
            </div>

            <div id="step-6" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger6">
                <p>
                    Under <b>Access controls</b> > <b>Grant</b>, select <b>Grant access</b>. Then select <b>Require
                        multifactor authentication</b>.
                    With this grant type, users must complete additional security requirements like email, phone call,
                    or text message.
                </p>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/MFA/Create-conditional-access-policy-5.png">
                </a>
            </div>

            <div id="step-7" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger7">
                <p>
                    Confirm your settings and set <b>Enable policy</b> to <b>On</b>.
                    Select <b>Create</b> to create your policy.
                </p>
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>You created a Conditional access policy that requires users to complete MFA.
                        To check the user experience, sign-in to your application.
                    </p>
                </div>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/MFA/Create-conditional-access-policy-6.png">
                </a>
            </div>
        </div>
    </div>

    <div id="GraphApiContent">
        Graph API tutorial coming soon.
    </div>
</div>
