@page
@model woodgrovedemo.Help.Pages.RBACModel
@{
    ViewData["Title"] = "Role-based access control";
    Layout = "_Layout";
}

<h1 style="margin-top: 25px; margin-bottom: 25px;">Role-based access control</h1>

<div>
    <p>
        Role-based access control is a popular mechanism to enforce authorization in
        applications. It helps you manage who has access to your application and what they can
        do in the application, and also alter the UI based on the user's role. An application developer defines
        the roles for the application. Then these roles can be assigned to
        users. In this demo, users assign themselves to application roles which are automatically approved. For
        more information, learn how to <a
            href="https://learn.microsoft.com/entra/external-id/customers/how-to-use-app-roles-customers"
            target="_blank" class="link-dark link-offset-2">use
            role-based access control for applications</a>. 
    </p>
    @await Html.PartialAsync("_StepsButtons.cshtml")

    <div class="bs-stepper vertical" id="Stepper">
        @await Html.PartialAsync("_Steps.cshtml", 8)

        <div class="bs-stepper-content">
            <div id="step-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger1">
                @await Html.PartialAsync("_Prerequisites.cshtml")

                <p>
                    Start by declaring roles for your application. The roles define their level of access to the
                    resources and operations in your application.
                    Sign in to the <a href="https://entra.microsoft.com/" target="_blank"
                        class="link-dark link-offset-2">Microsoft Entra admin center</a>
                    and browse to <b>Identity </b> > <b>Applications </b> > <b>App registrations</b>. Then, select the
                    application you want to define app roles.

                </p>

                <img class="img-fluid border" src="~/Help/RBAC/Select-app.png">
            </div>

            <div id="step-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger2">
                <p>
                    Select <b>App roles</b>, and then select <b>Create app role</b>.
                </p>

                <img class="img-fluid border" src="~/Help/RBAC/Create-app-role-1.png">
            </div>
            <div id="step-3" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger3">
                <p>
                    In the <b>Create app role</b> pane, enter the settings for the role.
                <ul>
                    <li><b>Display name</b> for the app role that appears in the app assignment experiences.</li>
                    <li><b>Allowed member types</b> - specifies whether this app role can be assigned to users,
                        applications, or both.</li>
                    <li><b>Value</b> - should match exactly the string referenced in the application's code.</li>
                    <li><b>Description</b> of the app role displayed during admin app assignment experiences.</li>
                    <li><b>Do you want to enable this app role?</b> - Yes </li>
                </ul>
                </p>

                You can add more roles to your app. Added another role named <b>Orders manager</b> with a value
                of <b>Orders.Manager</b>.
                <br>
                <img class="img-fluid border" src="~/Help/RBAC/Create-app-role-2.png">
            </div>

            <div id="step-4" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger4">
                <p>
                    Once you've added app roles in your application, administrator can assign users and groups to the
                    roles. Assignment of users and groups to roles can be done through the admin center, or
                    programmatically using <a
                        href="https://learn.microsoft.com/en-us/graph/api/user-post-approleassignments" target="_blank"
                        class="link-dark link-offset-2">Microsoft Graph</a>. When the users who assigned to the various app
                    roles sign-in to
                    the application, their tokens have their assigned roles in the <b>roles</b> claim.
                </p>
                <p>
                    To assign users and groups to application roles, from the menu select <b>Overview</b>. Then select
                    the link next to
                    <b>Managed application in local directory</b> . Note, you can also browse to <b>Enterprise
                        applications</b>, then under
                    Manage, select <b>All applications</b>, and then select your application from the list</b>.

                </p>
                <img class="img-fluid border" src="~/Help/RBAC/Select-service-principal.png">
            </div>

            <div id="step-5" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger5">
                <p>
                    Under <b>Manage</b>, select <b>Users and groups</b>, then select <b>Add user/group</b>.
                </p>

                <img class="img-fluid border" src="~/Help/RBAC/Add-users-and-groups.png">
            </div>

            <div id="step-6" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger6">
                <p>
                    In the <b>Add Assignment</b> pane, select <b>Users and groups</b>. A list of users and security
                    groups appears.
                    You can select multiple users and groups in the list.
                    Once you've selected users and groups, choose <b>Select</b>.
                </p>

                <img class="img-fluid border" src="~/Help/RBAC/Select-users.png">
            </div>

            <div id="step-7" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger7">
                <p>
                    In the <b>Add Assignment</b> pane, choose <b>Select a role</b>. All the roles you defined for the
                    application
                    appear. Select a role, and then choose <b>Select</b>. You can select one role at a time.
                </p>

                <img class="img-fluid border" src="~/Help/RBAC/Select-role.png">
            </div>

            <div id="step-8" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger8">
                <p>
                    Select <b>Assign</b> to finish the assignment of users and groups to the app. To assing more roles
                    to users,
                    repeat the last three steps.
                </p>

                <p>
                    <i class="bi bi-emoji-smile"></i> Congratulations! Now when users who assiged roles sign-in to
                    the application, their tokens have their assigned roles in the roles claim.
                </p>

                <img class="img-fluid border" src="~/Help/RBAC/Assing.png">
            </div>
        </div>
    </div>
</div>
