@page
@model woodgrovedemo.Help.Pages.SocialModel

@{
    ViewData["Title"] = "Group-based access control";
    Layout = "_Layout";
}

<h1 style="margin-top: 25px; margin-bottom: 25px;">Group-based access control</h1>

<div>

    <p>
        By setting up federation with social identity providers, you can allow customers to sign in to your applications
        with their own
        social account, such as <a
            href="https://learn.microsoft.com/entra/external-id/customers/how-to-facebook-federation-customers"  target="_blank"
                        class="link-dark link-offset-2">Facebook</a>
        or <a  href="https://learn.microsoft.com/entra/external-id/customers/how-to-google-federation-customers"  target="_blank"
                        class="link-dark link-offset-2">Google</a>.
        This demo shows how to add Facebook as one of your application's sign-in options. On the sign-in page, customers can sign-in to Microsoft Entra ID for customers with Facebook. The steps in this demo applies also to other identity providers, such as Google.
    </p>
    @await Html.PartialAsync("_StepsButtons.cshtml")

    <div class="bs-stepper vertical" id="Stepper">
        @await Html.PartialAsync("_Steps.cshtml", 4)

        <div class="bs-stepper-content">
            <div id="step-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger1">
                @await Html.PartialAsync("_Prerequisites.cshtml")

                <p>
                    To add Facebook as an identity provider, you first need to create an application in Facebook identity provider.
                    Then, configure the federation in Microsoft Entra External ID for customers.
                    After you created an application in Facebook, sign in to the <a href="https://entra.microsoft.com/" target="_blank"
                        class="link-dark link-offset-2">Microsoft Entra admin center</a>
                    and browse to <b>External Identities </b> > <b> External Identities </b> > <b>All identity
                        providers</b>. Then, select <b>+ Facebook</b>.
                </p>

                <img class="img-fluid border" src="~/Help/Social/Select-all-identity-providers.png">
            </div>

            <div id="step-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger2">
                <p>
                    For the <b>Client ID</b>, enter the client ID of the Facebook application that you created earlier.
                    For the <b>Client secret</b>, enter the client secret that you recorded. Then, select <b>Save</b>.
                </p>

                <img class="img-fluid border" src="~/Help/Social/Add-Facebook.png">
            </div>
            <div id="step-3" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger3">
                <p>
                    At this point, the Facebook identity provider has been set up in your Microsoft Entra ID, but it's
                    not
                    yet available in any of the sign-in pages. You need to add the Facebook identity provider to a user flow.

                    In your customer tenant, browse to <b>Identity</b> > <b>External Identities</b> > <b>User flows</b>.
                    Then,
                    Select the user flow where you want to add the Facebook identity provider.
                </p>

                <img class="img-fluid border" src="~/Help/Social/Select-user-flow.png">
            </div>

            <div id="step-4" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger4">
                <p>
                    Under <b>Settings</b>, select <b>Identity providers</b>. Under <b>Other Identity Providers</b>,
                    select <b>Facebook</b>.
                    At the top of the pane, select <b>Save</b>.
                </p>

                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>You successfully added the Facebook identity provider to your tenant. The you enabled the sign-in with Facebook in your user flow. To check the user experience, sign-in to your application and select the Facebook option.
                </div>

                <img class="img-fluid border" src="~/Help/Social/Add-facebook-to-user-flow.png">
            </div>
        </div>
    </div>
</div>
