@page
@model woodgrovedemo.Help.Pages.SSPRModel

@{
    ViewData["Title"] = "Self-service password reset";
    Layout = "_Layout";
}

<h1 style="margin-top: 25px; margin-bottom: 25px;">Enable self-service password reset</h1>

<div>

    <p>
        <a href="https://learn.microsoft.com/entra/external-id/customers/how-to-enable-password-reset-customers"
            target="_blank" class="link-dark link-offset-2">Self-service password reset (SSPR)</a> in Microsoft Entra ID gives customers the ability to change or
        reset their password, with no administrator or help desk involvement. If a customer's account is locked or they
        forget their password, they can follow prompts to unblock themselves and get back to work. This demo shows how
        to
        enable (SSPR) in Microsoft Entra External ID.
    </p>
    @await Html.PartialAsync("_StepsButtons.cshtml")

    <div class="bs-stepper vertical" id="Stepper">
        @await Html.PartialAsync("_Steps.cshtml", 8)

        <div class="bs-stepper-content">
            <div id="step-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger1">
                @await Html.PartialAsync("_Prerequisites.cshtml")

                <p>
                    To enable self-service password reset, first make sure that the sign-up user flow registers <b>Email
                        with password</b> as an authentication method.
                    Sign in to the <a href="https://entra.microsoft.com/" target="_blank"
                        class="link-dark link-offset-2">Microsoft Entra admin center</a>
                    and browse to <b>External Identities </b> > <b> User flows</b>. Then, select the user flow that you
                    want to check.
                </p>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/SSPR/Select-user-flow.png">
                </a>
            </div>

            <div id="step-2" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger2">
                <p>
                    In the user flow, select <b>Identity providers</b>. Then, under <b>Email Accounts</b>, make sure
                    that the sign-up user flow registers <b>Email with password</b> as an authentication method.
                </p>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/SSPR/Email-with-password.png">
                </a>
            </div>

            <div id="step-3" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger3">
                <p>
                    The self-service password uses the email one-time passcode (Email OTP) authentication.
                    In the next steps you enable <b>Email OTP</b> authentication method for all users in your tenant.
                    Browse to <b>Identity</b> > <b>Protection</b> > <b>Authentication methods</b>.

                    Under <b>Policies</b> > <b>Method</b>, select <b>Email OTP</b>.
                </p>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/SSPR/Select-email-otp.png">
                </a>
            </div>

            <div id="step-4" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger4">
                <p>
                    Under <b>Enable and Target</b> enable <b>Email OTP</b> and under <b>Include</b>, select <b>All
                        users</b>. Then,
                    select <b>Save</b> to enable the email OTP authentication method.
                </p>

                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Well done!</h4>
                    <p>You made sure your user flow supports <b>Email with password</b> sign-in. Then you enabled the
                        <b>email OTP</b> authentication method
                        for all users in the tenant. To check the user experience,
                        sign-in to your application and select the <b>Forgot password?</b> link.
                    </p>
                    <hr>
                    <p class="mb-0">If the <b>Forgot password?</b> link doesn't appear, move to the next step.
                    </p>
                </div>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/SSPR/Enable-email-otp.png">
                </a>
            </div>

            <div id="step-5" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger5">
                <h4>Enable the password reset link</h4>
                <p>
                    If the <b>Forgot password?</b> link doesn't appear, you should enable the password reset link.
                    Browse to <b>Identity</b> > <b>User experience</b> > <b>Company Branding</b> If you can't find it in
                    the menu, select <b>Show more...</b>.
                </p>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/SSPR/Show-more.png">
                </a>
            </div>

            <div id="step-6" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger6">
                <p>
                    On the <b>Default sign-in</b>, or <b>Browser language customizations</b> (if you configured per
                    language customizations) tab select <b>Edit</b>.
                </p>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/SSPR/Edit-company-branding.png">
                </a>
            </div>

            <div id="step-7" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger7">
                <p>
                    Selec the <b>Sign-in form</b> tab.
                </p>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/SSPR/Sign-in-form.png">
                </a>
            </div>

            <div id="step-8" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger8">
                <p>
                    Scroll to the <b>Self-service password reset</b> section and select <b>Show self-service password
                        reset</b>.
                    Finally, select <b>Review + save</b> and <b>Save</b> your changes.
                </p>

                <a href="#" class="pop" onclick="return false;">
                    <img class="img-fluid border" src="~/Help/SSPR/Show-sspr.png">
                </a>
            </div>
        </div>
    </div>

    <div id="GraphApiContent">
        <h4 class="graph-header">Enable Email OTP authentication method</h4>

        <p>
            The following Graph <a href="https://learn.microsoft.com/en-us/graph/api/emailauthenticationmethodconfiguration-update?view=graph-rest-beta&tabs=http"
                target="_blank" class="link-dark link-offset-2">enables email OTP authentication method</a> for all users in your tenant.
        </p>

        <code
            style="color: black;">PATCH https://graph.microsoft.com/v1.0/policies/authenticationMethodsPolicy/authenticationMethodConfigurations/email</code>

        <pre>
{
    "state": "enabled",
    "allowExternalIdToUseEmailOtp": "default",
    "excludeTargets": [],
    "includeTargets": [
        {
            "targetType": "group",
            "id": "all_users",
            "isRegistrationRequired": false
        }
    ]
}
        </pre>
    </div>
</div>
