@page
@model woodgrovedemo.Help.Pages.TokenLifeTimeModel

@{
    ViewData["Title"] = "Token lifetime";
    Layout = "_Layout";
}

<h1 style="margin-top: 25px; margin-bottom: 25px;">Token lifetime policy</h1>

<p>
    You can specify the <a href="https://learn.microsoft.com/en-us/entra/identity-platform/configurable-token-lifetimes"
        target="_blank" class="link-dark link-offset-2">lifetime</a> of an access token, ID token, or SAML token issued
    by the
    Microsoft Entra ID.
    You can set token lifetimes for all apps in your tenant, or for
    service principals. You cannot set token lifetime policies for refresh tokens and session tokens. In this demo we
    changed the default lifetime (one hour) to two hours.
</p>

@await Html.PartialAsync("_HelpSelector.cshtml", 0)
<div class="tab-content wg-tab-content">
    <div class="tab-pane active" id="microsoftEntraAdminCenter" role="tabpanel"
        aria-labelledby="microsoftEntraAdminCenter-tab" tabindex="0">
        @await Html.PartialAsync("_StepsButtons.cshtml")

        <div class="bs-stepper vertical" id="Stepper">
            @await Html.PartialAsync("_Steps.cshtml", 1)

            <div class="bs-stepper-content">
                <div id="step-1" role="tabpanel" class="bs-stepper-pane fade" aria-labelledby="steppertrigger1">
                    @await Html.PartialAsync("_Prerequisites.cshtml")

                    This configuration can be done using <a href="#graph"
                        class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">
                        Microsoft Graph</a>.
                </div>
            </div>
        </div>

    </div>

    <div class="tab-pane" id="microsoftGraph" role="tabpanel" aria-labelledby="microsoftGraph-tab" tabindex="0">
        <h4 class="graph-header">Create a token lifetime policy</h4>
        <p>
            First <a target="_blank" class="link-dark link-offset-2"
                href="https://learn.microsoft.com/en-us/graph/api/tokenlifetimepolicy-post-tokenlifetimepolicies?">create</a>
            a
            token lifetime policy.
            The following Microsoft Graph creates a policy with two hours lifetime. Important, set the
            <i>isOrganizationDefault</i> to <b>false</b>, so
            your policy will not change the default settings of your tenant.

        </p>

        <code style="color: black;">POST https://graph.microsoft.com/v1.0/policies/tokenLifetimePolicies</code>

        <pre>
{
    "definition": [
        "{\"TokenLifetimePolicy\":{\"Version\":1,\"AccessTokenLifetime\":\"<span class="highlight">2:00:00</span>\"}}"
    ],
    "displayName": "Woodgrove live demo token lifetime policy",
    "<span class="highlight">isOrganizationDefault</span>": false
}
        </pre>

        From the response, copy the value of the token lifetime policy <b>id</b>:

        <pre>
{
    "@@odata.context": "https://graph.microsoft.com/v1.0/$metadata#policies/tokenLifetimePolicies/$entity",
    "<span class="highlight">id</span>": "<span class="highlight">12345678-1234-1234-1234-000000000000</span>",
    ...
}
        </pre>

        <h4 class="graph-header">Assign token lifetime policy to your application</h4>
        <p>
            Finally, <a target="_blank" class="link-dark link-offset-2"
                href="https://learn.microsoft.com/en-us/graph/api/application-post-tokenlifetimepolicies">
                assign</a> token lifetime policy to your application. If you have more applications, repeat this step.
            Replace the <b>{app-id}</b> with your application ID (not object ID). And replace the <b>{policy-id}</b>
            with the token lifetime policy ID from the previous step.
        </p>

        <code
            style="color: black;">POST https://graph.microsoft.com/v1.0/applications(appId='<span class="highlight">{app-id}</span>')/tokenLifetimePolicies/$ref</code>

        <pre>
{
  "@@odata.id":"https://graph.microsoft.com/v1.0/policies/tokenLifetimePolicies/<span class="highlight">{policy-id}</span>"
}
        </pre>

        <a class="btn btn-success btn-sm" data-bs-toggle="collapse" href="#collapseExample3" role="button"
            aria-expanded="false" aria-controls="collapseExample3">
            Show example
        </a>
        <div class="collapse example" id="collapseExample3">
            <code
                style="color: black;">POST https://graph.microsoft.com/v1.0/applications(appId='10f90284-3ee4-4e82-a641-55cc4068b633')/tokenLifetimePolicies/$ref</code>

            <pre class="example">
{
  "@@odata.id":"https://graph.microsoft.com/v1.0/policies/tokenLifetimePolicies/12345678-1234-1234-1234-000000000000"
}
            </pre>
        </div>
    </div>

    <div class="tab-pane" id="entraGraphPowerShell" role="tabpanel" aria-labelledby="entraGraphPowerShell-tab"
        tabindex="0">
        Loading...
    </div>
</div>
