@page
@model woodgrovedemo.Pages.CommercialModel
@{
}

<h1 class="py-3" style="color: green; margin-top: 15px;">Commercial account benefits</h1>

<div class="row" style="margin-top: 25px;">
    <div class="col-3">
        <img src="~/images/Commercial/Payment.png" class="rounded" style="width: 100%;">
    </div>
    <div class="col">
        <p>
            Woodgrove <b>Commercial accounts</b> offer a range of benefits tailored to meet your specific needs of
            businesses.
            Including the ability to increase sales by accepting various forms of payment and
            improving cash flow through faster payment authorization. It also facilitate easy money management and
            provide a better customer experience with secure payment processing. Additionally, commercial accounts
            come with tailored services such as dedicated business representatives, which can be particularly beneficial
            for managing complex financial transactions and banking needs.
        </p>
        <h4 style="color: rgb(41, 41, 41);">The ultimate online shopping experience for your business!</h4>
    </div>

</div>

<!--Second row --->
<div class="row">

    <div class="col-6">
        <div class="row">
            <div class="col">
                <h4 style="margin-top: 30px; margin-bottom: 25px; color: green;">Free shipping</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="~/images/Commercial/Shipping.png" class="rounded" style="width: 100%;">
            </div>
            <div class="col">
                <p>
                    Enjoy the added convenience and cost savings with our complimentary shipping service, which
                    effectively
                    eliminates additional expenses, enhancing your shopping pleasure and overall contentment.
                </p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col">
                <h4 style="margin-top: 30px; margin-bottom: 25px; color: green;">Free return</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="~/images/Commercial/Return.png" class="rounded" style="width: 100%;">
            </div>
            <div class="col">
                <p>
                    We also
                    provide hassle-free returns at no charge on a wide array of items shipped globally. To ensure
                    eligibility
                    for free returns, customers are advised to verify the presence of the <b>Free Returns</b> label next
                    to the
                    item's price.
                </p>
            </div>

        </div>
    </div>
</div>


<!--Third row --->
<div class="row">
    <div class="col-6">
        <div class="row">
            <div class="col">
                <h4 style="margin-top: 30px; margin-bottom: 25px; color: green;">Exclusive pricing</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="~/images/Commercial/Pricing.png" class="rounded" style="width: 100%;">
            </div>
            <div class="col">
                <p>
                    Woodgrove Commercial provides exclusive pricing options tailored for your business, including
                    discounted
                    rates
                    and bulk purchase savings. Businesses can benefit from up to a 30% reduction in costs on a range of
                    supplies.
                </p>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col">
                <h4 style="margin-top: 30px; margin-bottom: 25px; color: green;">Early access to new products</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="~/images/Commercial/Early-access.png" class="rounded" style="width: 100%;">
            </div>
            <div class="col">
                <p>
                    Gaining early access to our new products places you at the cutting edge of innovation, where your
                    valuable
                    insights and suggested enhancements play a crucial role in refining our end product.
                </p>
            </div>
        </div>
    </div>



</div>
