@page
@model woodgrovedemo.Pages.CommercialModel
@{
}

<h1 class="py-3" style="color: green; margin-top: 15px;">Commercial account benefits</h1>

<div class="row" style="margin-top: 25px;">
    <div class="col-3">
        <img src="~/images/Commercial/Payment.png" class="rounded" style="width: 100%;">
    </div>
    <div class="col">
        <p>
            Woodgrove <b>Commercial accounts</b> offer a range of benefits tailored to meet your specific needs of
            businesses.
            Including the ability to increase sales by accepting various forms of payment and
            improving cash flow through faster payment authorization. It also facilitate easy money management and
            provide a better customer experience with secure payment processing. Additionally, commercial accounts
            come with tailored services such as dedicated business representatives, which can be particularly beneficial
            for managing complex financial transactions and banking needs.
        </p>
    </div>
</div>



<div class="row">
    <div class="col-3">
        <h4 style="margin-top: 30px; margin-bottom: 25px; color: green;">Free shipping</h4>
        <img src="~/images/Commercial/Shipping.png" class="rounded" style="width: 100%;">
    </div>
    <div class="col">
        <p style="padding-top: 90px;">
            Enjoy the added convenience and cost savings with our complimentary shipping service, which effectively
            eliminates additional expenses, enhancing your shopping pleasure and overall contentment. 
        </p>
    </div>
    <div class="col-3">
        <h4 style="margin-top: 30px; margin-bottom: 25px; color: green;">Free return</h4>
        <img src="~/images/Commercial/Return.png" class="rounded" style="width: 100%;">
    </div>
    <div class="col">
        <p style="padding-top: 90px;">
            We also
            provide hassle-free returns at no charge on a wide array of items shipped globally. To ensure eligibility
            for free returns, customers are advised to verify the presence of the <b>Free Returns</b> label next to the
            item's price.
        </p>
    </div>
</div>

<h3 style="margin-top: 30px; margin-bottom: 25px; color: green;">Exclusive pricing</h3>
<div class="row">
    <div class="col-3">
        <img src="~/images/Commercial/Pricing.png" class="rounded" style="width: 100%;">
    </div>
    <div class="col">
        <p>
            Woodgrove Commercial provides exclusive pricing options tailored for your business, including discounted rates
            and bulk purchase savings. Businesses can benefit from up to a 30% reduction in costs on a range of
            supplies. For those aiming to reduce expenses, it's worth considering a Woodgrove Commercial account. Such
            an account grants companies the privilege of lower commercial prices, while still preserving the benefits of
            performance.
        </p>
    </div>
</div>
