@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1></h1>

<h1 style="color: green; padding-bottom: 15px; padding-top: 15px;">@ViewData["Title"]</h1>
<div class="container">

Your privacy is important to us. This privacy statement explains the personal data Woodgrove groceries demo application processes, how we processes it, and for what purposes.

<h3 style="padding-top: 25px;">Personal data we collect</h3>
    <ul>
        <li style="padding-top: 15px;"><b>Information that you give us directly</b>: during the sign-up flow (when you create an account) or update your account, you provide some of this data directly that is stored under your account. This data will be removed when you <a asp-area="" asp-page="/DeleteMyAccount">delete your account</a>, or the account is deleted by the clean up process.</li>
        <li style="padding-top: 15px;"><b>Information we collect automatically when you sign-in</b>: for all flows, such as sign-in, multi-factor authentication, sign-up, password reset, profile editing and more, we get some of it by collecting data about your interactions, and use. Audit log events are only retained for 30 days. For more information, check out the <a href="https://learn.microsoft.com/azure/active-directory/reports-monitoring/concept-sign-ins">Sign-in logs in Microsoft Entra External ID</a> and <a href="https://learn.microsoft.com/azure/active-directory/reports-monitoring/reference-basic-info-sign-in-logs">Basic info in the Microsoft Entra External ID sign-in logs</a>. We also collect information about your sign-in activity. For details, check out the <a href="https://learn.microsoft.com/graph/api/resources/signinactivity?view=graph-rest-beta">signInActivity resource type</a>.</li>
        <li style="padding-top: 15px;"><b>Information we collect automatically when you use the Woodgrove demo app</b>: App Service collects the same kinds of monitoring data. Check out the <a href="https://learn.microsoft.com/azure/app-service/monitor-app-service-reference">Monitoring App Service data reference</a> for detailed information on App Service metrics and logs.</li>
    </ul>

<h3 style="padding-top: 25px; padding-bottom: 10px;">Creating an account</h3>
The purpose of this sample application is for illustration only. You are not obligated to provide your personal information, such as first name, last name, location etc. Make sure <u>not</u> to use any of your real details that can reveal your identity.

<div class="alert alert-secondary" role="alert" style="margin-bottom: 25px; margin-top: 25px;">
<i class="bi bi-info-circle"></i>&nbsp; Online impersonation cases refer to those situations in which someone is maliciously using another person's online identity. While fake account creation may seem harmless, it's illegal and considered cyber-crime in many jurisdictions. To create an account, <b>use a first name and a first letter of a family name</b>. 
</div>

In some flows, such as sign-up, sign-in, or multi-factor authentication, you are prompted for an email address or phone number, which must be verified and stored in your account. 

<h3 style="padding-top: 25px; padding-bottom: 10px;">Social account</h3>

Social or enterprise login uses information from social or enterprise identity providers, such as Microsoft, Facebook and Google accounts to facilitate logins to the Woodgrove groceries live demo application. This simplifies registrations and sign-in for you. Social or enterprise identities are managed by a federated identity provider. Microsoft Entra External ID stores additional information about your account, such as display name, first name, and last name. Microsoft Entra External ID also stores the social or enterprise unique identifier that is linked to your social or enterprise account.

<h3 style="padding-top: 25px; padding-bottom: 10px;">Accounts clean up</h3>

As users try this demo application, it’s possible that many accounts get created in the Microsoft Entra External ID tenant over time. When users no longer access the demo application (using last interactive and non-interactive sign-in date and time), the accounts may be deleted automatically from the directory. If you account has been deleted, you will have to sign-up again.

</div>
