@page
@model MyApp.Namespace.TOSModel
@{
    ViewData["Title"] = "Terms of service";
}
<h1 style="color: green; padding-bottom: 15px; padding-top: 15px;">@ViewData["Title"]</h1>
<div class="container">

WoodGrove Groceries is a live demo web application created by Microsoft to demonstrate several Microsoft Entra ID for customers features. WoodGrove simulates an online grocery store that sells groceries to both individual consumers and business customers. It allows you to sign-up and sign-in by using Microsoft Entra ID for customers and to explore its capabilities in scenarios that pertain to external identity managemen.

<br />&nbsp;<br />

The WoodGrove Groceries live demo application is provided for the purpose of illustration only and is not intended to be used 
in a production environment. This sample app, the <a href="https://github.com/microsoft/woodgrove-groceries">source code</a> and any related information are provided "as is" 
without warranty of any kind. This sample application and its source code is not supported under any Microsoft standard support program or service. 
 
<h3  style="padding-top: 25px;">Community Help and Support</h3>
If you find a bug, notice something but are not sure how to solve it, or want to provide product feedback, please raise an issue on <a href="https://github.com/microsoft/woodgrove-groceries/issues">GitHub Issues</a>. 
</div>

